.git
.gitignore
.env
.env.backup
.env.production
node_modules
vendor
tests
*.md
*.log
.idea
.vscode
.fleet
.nova
.zed
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
